<div id="<%= dom_id passenger %>">
  <p>
    <strong>Checkin:</strong>
    <%= passenger.checkIn %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= passenger.name %>
  </p>

  <p>
    <strong>Aircraft:</strong>
    <%= passenger.aircraft %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= passenger.destination %>
  </p>

  <p>
    <strong>Gate:</strong>
    <%= passenger.gate %>
  </p>

</div>
